<footer class="footer">
  <!--ronde pijl meer naar bovenverscuiven-->
  <a href="#hero_page"
    ><img
      class="hero-scroll-down"
      src="./assets/images/ico-arrow.svg"
      alt="arrow-scroll-up"
    />
  </a>
  <div class="footer-div">
    <nav>
      <a class="footer-link" href="https://adalab.es/">
        <ul class="footer-list">
          <li class="footer-list-item">ZAPATILLAS</li>
          <li class="footer-list-item">ROPA</li>
          <li class="footer-list-item">NINO/A</li>
          <li class="footer-list-item">DESTACADOS</li>
          <li class="footer-list-item">TIPS</li>
        </ul>
      </a>
    </nav>
    <nav>
      <a class="footer-link" href="https://adalab.es/">
        <ul class="footer-list-socialmedia">
          <li class="footer-list-socialmedia-item">TWITTER</li>
          <li class="footer-list-socialmedia-item">INSTAGRAM</li>
          <li class="footer-list-socialmedia-item">YOUTUBE</li>
        </ul>
      </a>
    </nav>
    <small class="footer-copyright">
      <p>&copy; 2023</p>
      <p>we <i class="fa-solid fa-heart" style="color: #f26002">❤︎</i> run</p>
    </small>
  </div>
</footer>
