<main>
  <!-- In het main deel nog in class verdelen-->
  <section id="hero_page" class="hero">
    <h1 class="hero-title">HASTA UN 50% DE DESCUENTO</h1>
    <p class="hero-paragraph">Ya están aquí las ofertas de fin de temporada</p>
    <a href="#grey_section"
      ><img
        class="hero-scroll-down"
        src="./assets/images/ico-scroll-down.svg"
        alt="scroll down"
      /> </a
    ><!-- goed de id/# linken zodat het aan de bovenkant van grey_section springt als ik erop klik -->
  </section>
  <section class="white-section">
    <small class="white-section-small-title"
      >Los sentimientos nos inspiran</small
    >
    <article>
      <h2 class="white-section-subtitle">Conecta Contigo</h2>
      <p class="white-section-paragraph">
        Esto es una celebración de todo lo que nos mueve. Del poder de elegir y
        de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento
        y a la plena consciencia que tan bien nos hacen sentir.
      </p>
    </article>
    <a class="white-section-button" href="https://adalab.es/">Comprar</a>
  </section>

  <section id="grey_section" class="grey-section">
    <!-- goed de id/# linken zodat het aan de bovenkant van grey_section springt als ik erop klik -->
    <h3 class="grey-section-subtitle">Año nuevo, movimientos nuevos</h3>
    <div class="grey-section-container-article">
      <article class="grey-section-article">
        <h4 class="grey-section-article-subtitle">Entrenamientos</h4>
        <p class="grey-section-article-paragraph">
          Sesiones de running y entrenamientos.
        </p>
      </article>
      <article class="grey-section-article">
        <h4 class="grey-section-article-subtitle">Cualquier nivel</h4>
        <p class="grey-section-article-paragraph">
          Entrenamientos para cada nivel.
        </p>
      </article>
      <article class="grey-section-article">
        <h4 class="grey-section-article-subtitle">Exclusividad</h4>
        <p class="grey-section-article-paragraph">
          Productos para miembros premium.
        </p>
      </article>
    </div>
    <a class="grey-section-button" href="https://adalab.es/">Empezar ahora</a>
  </section>
</main>
