.footer {
    background-color: #4a4a4a;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    width: auto;
    height: auto;
    padding-bottom: 20px;
}

.footer-link {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.footer-list {

    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
}

.footer-list-item {
    margin: 2%;
}

.footer-list-socialmedia {

    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10%;
}

.footer-list-socialmedia-item {
    margin: 2%;
}
.footer-copyright{
    font-size: 14px;
    line-height: 30px;


}
.hero-scroll-up{
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 9px;
    margin-bottom: 35px;
    position: relative;
    bottom: 25px;
}

/*@media and all (min-width: 768px){
    .footer-list . .footer-list-socialmedia{
        flex-direction: row
    }
}*/

@media all and (min-width: 768px){
  
    .footer-div{
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding-left: 100px;
        padding-right: 5px;
    
    }
    .footer-copyright{
        grid-row: 1 / 2;
    }
    .footer-list{
        align-items: flex-start;
        line-height: 30px;
    }
    .footer-list-socialmedia{
        align-items: flex-start;
        line-height: 30px;
    }
}
@media all and (min-width: 1200px){
    .footer-div{
        gap: 100px;
        padding-left: 350px;
        padding-right: 370px;
    }
}