.header {
    display: inline-block; /*dit laten of weghalen?*/
    background-color: #f26002;
    position: fixed;
    z-index: 2;
    width: 38px;
    height: 35px;
    padding-top: 10px;
    padding-left: 10px;
    /*maten px voor tablet (w; 42px/h;44px) en desktop (w; 46px/h; 45px) veranderen */
}

@media all and (min-width: 768px){
    .header{
        width: 42px;
        height: 44px;
        padding-top: 13px;
        padding-left: 12px;
        
    }
}

@media all and (min-width: 1200px){
    .header{
        width: 46px;
        height: 45px;
        padding-top: 15px;
        padding-left: 15px;
    }
}
