.hero {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/cover.jpeg");
    /*moet ik hier 2x ../ ,dan assets voor images doen, want miguel heeft het anders: ../images/cover etc*/
    background-size: cover;
    background-position: top;
    padding-bottom: 40px;
    /*padding-bottom: 30px; deze  lijn wel gebruiken of niet zijn van andere per)*/
}

.hero-title {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    line-height: 1.67;

   /* line-height: 1.90; hoe voeg ik hier ruimte tussen tekst door*/
    


}

.hero-paragraph {
    font-size: 16px;
    padding: 10px;
    line-height: 1.19;
    


}

.hero-scroll-down {
    background-color: #ffffff;
    width: 37.9px;
    height: 35.7px;
    border-radius: 50%;
    padding: 9px;
    margin-bottom: 15%;

}

/* belangijk h1 de pixel vergroten en ook de tekst die eronder komtn 

linken met id grey-section zodat als je erop klikt het naar beneden die section gaat 
#grey-section {
    scroll-padding-top: 110px;
}*/

@media all and (min-width: 768px) {
    .hero{
        background-position: center left;
        width: 768px;
        height: 768px;
    }
    .hero-title{
        font-size: 75px;
        line-height: 1.33;
    }
    .hero-paragraph{
        font-size: 24px;
        width: 340px;
        line-height: 28px;
    }
    .hero-scroll-down{
        width: 42.5px;
        height: 45px;
    }
}