.grey-section {
    background-color: #f2f2f2;
    padding-bottom: 20px;
    /*padding-left: 20px ;*/
    /*margin-left: 5%;*/
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

.grey-section-subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    width: 290px;
    line-height: 1.67;




}


.grey-section-container-article {
    width: 55vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;






}

.grey-section-article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

}


.grey-section-article-subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;


}

.grey-section-article-paragraph {
    font-size: 18px;
    line-height: 1.67;


}

.grey-section-button {

    color: #f2f2f2;
    /*width: 40%; la anchura que le di al boton*/
    background-color: #f26002;
    text-decoration: none;
    font-size: 20px;
    border-radius: 22.5px;
    border: solid 2px #f26002;
    padding: 2% 2% 2% 2%;
}

@media all and (min-width: 768px){
    .grey-section{
        height: 400px;
    }
    .grey-section-subtitle{
        width: auto; 
        font-size: 28px;
    }
    .grey-section-container-article{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: baseline; /*kon ook met start* lettergroote wijzigen */
        width: 100vw;
        height: 10vh;
    }
    .grey-section-article-subtitle{
        font-size: 24px;
        line-height: 1.25;
        padding-bottom: 5%;
    }
    .grey-section-article-paragraph {
        font-size: 20px;
        line-height: 1.5;
    }
    
    .grey-section-button{
        border-radius: 25px;

    }
    /*.grey-section-article-paragraph {
    line-height: ;
}*/ /*Hier nog alles aan desktop toevoegen*/
}