@import 'core/variables';
@import 'core/reset';
@import 'core/mixins';
@import 'core/animations';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

:root{
    font-size: 62.5%

}
*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

.header{
    display: inline-block;/*weghalen of laten*/
    background-color: #f26002;
    position: fixed;
    z-index: 2;
    width: 38px;
    height: 35px;
    padding-top: 10px;
    padding-left: 10px; /*zien hoe ik maten verander naar % of vw/vh*/
}

.hero{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
   /* width: 100vw;*/
    height: 100vh;
    background-image: url(../images/cover.jpeg);
    background-size: cover;
   

}
.hero-title{ 
    font-weight: bold;
    font-size: 30px;
   
}
.hero-paragraph{
    font-size: 16px;
    padding: 5%;
  

}
.hero-scroll-down{
    background-color:#ffffff;
    width: 37.9px;
    height: 35.7px;
    border-radius: 50%;
    padding: 9px;
    margin-bottom: 15%;
    
}
/*linken met id grey-section zodat als je erop klikt het naar beneden die section gaat 
#grey-section {
    scroll-padding-top: 110px;
}*/

.white-section{
    display: block;
        /*width: 315px;
        height: 376px;
        flex-grow: 0; dit hierboven wel of niet gebruiken*/
    margin: 9% 5% 9% 5%;

}
.white-section-small-title{
    font-size: 14px;
    color: #f26002;
}
.white-section-subtitle{/*add font-family robotoSlab-Bold*/
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    padding: 5% 0% 5% 0%;
    
}
.white-section-paragraph{
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 10%;
}
.white-section-button{
    color: #f26002;
    text-decoration: none;
    font-size: 20px;
    border-radius: 22.5px;
    border: solid 2px #f26002;
    padding: 2% 10% 2% 10%;
   
}
.grey-section{
    background-color: #f2f2f2;
    /*margin-left: 5%;*/
    padding-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   


}
.grey-section-subtitle{
    font-weight: bold;
    font-size: 20px;
    grid-column: span 2;
   
.grey-section-article{
    grid-column: span 2;
}
  
}
.grey-section-article-subtitle{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    
}
.grey-section-article-paragraph{
    font-size: 18px;
    
}
.grey-section-button{
    color: #f2f2f2;
    background-color: #f26002;
    text-decoration: none;
    font-size: 20px;
    border-radius: 22.5px;
    border: solid 2px #f26002;
    padding: 2% 2% 2% 10%;
    grid-column: span 1;
}
.footer{
    background-color: #4a4a4a;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding-bottom: 10%;
    

}
.footer-link{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
.footer-list{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10%;

}
.footer-list-item{
    margin: 2%;
}
.footer-list-socialmedia{
   
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10%;
}
.footer-list-socialmedia-item{
    margin: 2%;
}